.contenedor{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header "
                         "jumbutron jumbutron2"
                         "tarjetas tarjetas "
                         "jumbutron3 jumbutron4"
                         "footer footer";
}
.contenedor .header{
    padding: 25px;
    background: #111827;
    color: white;
    grid-area: header;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "image nabvar nabvar" ;

}
.image{
    float: left;
   margin: 10px;
   grid-area: image;
   display: flex;
   align-items: center;

}
.header .nabvar{
    float: left;
    grid-area: nabvar;
    margin: 10px;
}

.nabvar .derecha{
    float: right;
}

.nabvar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #111827;
}

.nabvar li {
    float: left;
  }
  
.nabvar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*  */
.nabvar li a:hover {
    color: gray;
  }


.contenedor .jumbutron{
    background: #111827;
    padding: 25px;
    grid-area: jumbutron;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.contenedor .jumbutron2{
    grid-area: jumbutron2;
    height: 650px;
    background: #111827;
}

.contenedor .jumbutron2 img{
    width: 100%;
    height: 600px;
    }
    

.contenedor .tarjetas{
    background: wheat;
    grid-area: tarjetas;
    padding: 20px;
}
.contenedor .jumbutron3{
    background: rgb(95, 189, 233);
    grid-area: jumbutron3;
}

.contenedor .jumbutron3 img{
    width: 80%;
    height: 500px;
    }


.contenedor .jumbutron4{
    background: greenyellow;
    padding: 25px;
    grid-area: jumbutron4;
}

  /* JUMBUTRON  */
.c1{

    padding: 15px;
}

.c1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 39px;
    background-color: black ;
    padding: 10px;

    justify-content: center;
    align-content: center; 
    
}
.c1 a span{
    font-size: 14px;
    padding: 10px;
    border-radius: 39px;
    background-color: black ;

}
.c2{

    line-height: 1;
    letter-spacing: -.025em;
}
.c2 span{
display: block;
color: white;
font-weight: 800;
font-size: 50px;
}
.c3 h4{
color: #c0c6cf;
font-size: 20px;
}

.c4 input[type=text]{
    width: 70%;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    transition: .3s;
}

.c4 input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#enviar{
background: #369BA8;
border-radius: 10px;
padding: 15px;
color: white;
font-weight: bold;
}
.c5 p{
    font-size: 12px;
    color: #adb2b9;
}
.c5 p b{
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 740px) {
    .contenedor{
        grid-template-areas: "header header"
                             "jumbutron jumbutron"
                             "jumbutron2 jumbutron2"
                             "tarjetas tarjetas "
                             "jumbutron3 jumbutron3"
                             "jumbutron4 jumbutron4"
                             "footer footer";
    }

    .contenedor .header{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "image image"
                             "nabvar nabvar" ;
    
    }
    .image{
        display: flex;
        justify-content: center;
       grid-area: image;
    }
    .nabvar{
        display: flex;
        grid-area: nabvar;
        justify-content: center;
    }
}

@media screen and (max-width: 421px) {
    .c1{
        padding-left: 16px;
    }
    .c1 a span{
        font-size: 12px;
        padding: 10px;
        border-radius: 39px;
        background-color: black ;
    }
    .c2 span{
        font-size: 45px;
        text-align: center;
        }
}




