.c1{
    margin: 10px;
    display: inline-flex;
}

.c1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 39px;
    background-color: black ;
    padding: 10px;
}
.c1 a span{
    font-size: 14px;
    padding: 10px;
    border-radius: 39px;
    background-color: black ;
}
.c2{
    line-height: 1;
    letter-spacing: -.025em;
}
.c2 span{
display: block;
color: white;
font-weight: bold;
font-size: 55px;
}

@media screen and (max-width: 394px) {
    .c1 a span{
        font-size: 12px;
        padding: 10px;
        border-radius: 39px;
        background-color: black ;
    }
}

