.navbar{
    overflow: hidden;
    background-color: #111827;
    min-height: 80px;
    display: block;
}

.navbar a {
    line-height: 50px;
    float: left;
    color: rgb(233, 224, 224);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.cont-img {
    float: left;
    padding: 10px;
}

.cont-lista {
    float: left;
}
.cont-sesion{
    float: right;
    padding-right: 80px;
}

a:hover {
    color: rgb(117, 127, 136);
  }

  @media screen and (max-width: 800px) {
.cont-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.cont-lista{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}
.cont-lista a{
    text-align: center;
    line-height: 25px;
}
.cont-sesion {
    float: left;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}
.cont-sesion a{
    text-align: center;
    line-height: 25px;
}
}


